body {
    margin: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-family: "Inter", "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}